
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
            
        </li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
       <div class="item active">
           <div class="jumbotron theme-light">
               <div class="container">
                   <div class="row">
                       
                       <div class="col-md-12 ">
                           <div class="type-h3">
                               Xbox for Christmas
                           </div>
                           <div class="type-sh3">
                               Make the holidays special with Xbox
                           </div>
                           <p>Espresso served best with whole milk. Dripper aromatic sugar beans steamed breve half and half. Pumpkin spice and kopi-luwak seasonal, mug, java lungo mazagran ristretto and body espresso. Macchiato doppio pumpkin spice sit strong bar shop lungo trifecta.</p>
                           <div class="btn-group">
                               <button class="btn btn-primary" href="#">Buy Xbox</button>
                               <button class="btn btn-secondary" href="#">Read more</button>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <div class="item">
            <div class="jumbotron theme-light">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 ">
                            <div class="type-h3">
                                Xbox 0 for Christmas
                            </div>
                            <div class="type-sh3">
                                Make the holidays special with Xbox
                            </div>
                            <p>Espresso served best with whole milk. Dripper aromatic sugar beans steamed breve half and half. Pumpkin spice and kopi-luwak seasonal, mug, java lungo mazagran ristretto and body espresso. Macchiato doppio pumpkin spice sit strong bar shop lungo trifecta.</p>
                            <div class="btn-group">
                                <button class="btn btn-primary" href="#">Buy Xbox</button>
                                <button class="btn btn-secondary" href="#">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="jumbotron theme-light">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 ">
                            <div class="type-h3">
                                Xbox 1 for Christmas
                            </div>
                            <div class="type-sh3">
                                Make the holidays special with Xbox
                            </div>
                            <p>Espresso served best with whole milk. Dripper aromatic sugar beans steamed breve half and half. Pumpkin spice and kopi-luwak seasonal, mug, java lungo mazagran ristretto and body espresso. Macchiato doppio pumpkin spice sit strong bar shop lungo trifecta.</p>
                            <div class="btn-group">
                                <button class="btn btn-primary" href="#">Buy Xbox</button>
                                <button class="btn btn-secondary" href="#">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="left carousel-control v-center" href="#myCarousel" role="button" data-slide="prev">
        <span class=" glyph glyph-chevron-left "></span>


    </a>
    <a class="right carousel-control v-center" href="#myCarousel" role="button" data-slide="next">
       <span class=" glyph glyph-chevron-right "></span>
    </a>
</div>

<div class="container ">

<div class="row">
        <div class="col-md-8">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-8">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-8">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
</div>